# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: api

frameworkVersion: "=1.6.1"

provider:
  name: aws
  runtime: nodejs4.3
  stage: prod
  region: us-west-2
  profile: shaheen-ghiassy-api # used to lookup credentials in ~/.aws/credentials

iamRoleStatements:
  - Effect: Allow
    Action:
      - "sns:Publish"
    Resource: "arn:aws:sns:*:*:${self:custom.conf.topicName}"

functions:
  beers:
    handler: src/controllers/beers.list
    description: An old endoint I had about beers
    events:
    - http:
        path: beers # path in the url
        method: get
  hello:
    handler: src/controllers/hello.hello
    description: A simple endpoint primarily used just to make sure the API service is working
    events:
    - http:
        path: heartbeat # path in the url
        method: get
        cors: false
  form:
    handler: src/controllers/form.submit
    description: Form processor for shaheenghiassy.com
    events:
    - http:
        path: form # path in the url
        method: post
        cors: true

resources:
  Resources:
    MailQueue:
      Type: AWS::SNS::Topic
      Properties:
        DisplayName: "Serverless Form Mail"
        TopicName: ${self:custom.conf.topicName}
        Subscription:
          - Endpoint: ${self:custom.conf.mailTo}
            Protocol: "email"

custom:
  conf: ${file(config/form.json)}
